.projectsSection {
    min-height: 100vh;
    padding-top: 70px;
    position: relative;
}

.sectionName {
    text-align: center;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}