.sobreSection {
    background-color: #302b27;
    height: 100vh;
    color: #f5f3f5;
    position: relative;
}

.sectionTitle {
    color: #f5f3f5;
    text-align: center;
    padding-top: 75px;
}

.face {
    width: 180px;
    height: 180px;
    background-image: url("https://raw.githubusercontent.com/Lucas-Severo/lucas-severo.github.io/master/img/face.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin: 0 auto;
}

.name {
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}

.aboutSection {
    text-align: center;
}

.socialMedia {
    font-size: 30px;
    padding: 0px 10px;
    color: black;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.socialMedia a:hover {
    cursor: pointer;
    color: rgba(144, 0, 0, 0.8);
}

.btnVerMais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100px;
    height: 30px;
    gap: 5px;
    background-color: #8b622061;
    color: #eecf6d;
    cursor: pointer;
}