.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectContainer {
    max-width: 80%;
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 4px lightgray;
    padding: 20px 50px 50px 50px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}